html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
    color: var(--color-secondary);
    line-height: 1.45;
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    --index: 2;
    --speed: 10;
}

/* prepinani mezi vzhledy, vizualne schovane ale renderer stale vidi*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

 /*vypnuti defaultniho scrollovaci okna*/
::-webkit-scrollbar {
    display: none;
}

 /* styly pro scrolovani */
#scroll-progress {
    position: fixed;
    top: 25%;
    right: 0;
    width: 8px;
    height: 50vh;
    background: var(--color-secondary);
    z-index: 9999;
    border-radius: 2rem;

}

#scroll-progress-fill {
    width: 100%;
    height: 0%;
    border-radius: 2rem;

    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 100%);
    transition: height 0.1s ease;
    box-shadow: 0 0 10px var(--color-primary);
}

 /*Vlastni styly importle pres ReactBits*/

*[letter-animation="breath"] {
    & > span {
        display: inline-block;
        white-space: break-spaces;
    }

    & > span {
        animation: breath calc(var(--speed)) ease calc(var(--index) * 100 * 1ms)
        infinite alternate;
    }
}



@keyframes breath {
    from {
        animation-timing-function: ease-out;
    }
    to {
        transform: scale(1.25) translateY(-5px) perspective(1px);
        text-shadow: 0 0 20px var(--color-primary);
        animation-timing-function: ease-in-out;
    }
}
