/* Global custom styles and design improvements - this file is intentionally
   separate from Tailwind-input (`src/input.css`). */


html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
    color: var(--color-secondary);
    line-height: 1.45;
    font-size: 16px;
}

/* Main typography */

/* used for theme switching, visually hidden but renderer stil can see it*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


