@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap');


@theme {
    --color-primary: #b63dd5;
    --color-secondary: white;
    --color-background: #282C33;
    --color-third: #121317;
    --color-paragraph: #CCCCCC;
    --color-fourth: #615fff;
    --font-inter: 'Inter', sans-serif;
}

html.dark {
    --color-primary: #b63dd5;
    --color-secondary: white;
    --color-background: #282C33;
    --color-paragraph: #CCCCCC;
    --color-third: #121317;
    --color-fourth: #615fff;
}
html.light {
    --color-primary: #c837ed;
    --color-secondary: #000000;
    --color-background: #f4f4ff;
    --color-paragraph: #333333;
    --color-third: #cfcfcf;
    --color-fourth: #615fff;
}

/* Animace mobilního menu */
#mobile-menu {
    transition: all 0.3s ease-in-out;
}