@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap');


@theme {
    --color-primary: #b63dd5;
    --color-secondary: white;
    --color-background: #282C33;
    --color-third: #121317;
    --font-inter: 'Inter', sans-serif;
}

html.dark {
    --color-primary: #b63dd5;
    --color-secondary: white;
    --color-background: #282C33;
    --color-third: #121317;
}
html.light {
    --color-primary: #c837ed;
    --color-secondary: #000000;
    --color-background: #e1e1e1;
    --color-third: #e4b5f6;
}

/* Animace mobilního menu */
#mobile-menu {
    transition: all 0.3s ease-in-out;
}



/* Vlastní animace pro Tailwind v4 */
@keyframes typing {
    0% {
        width: 0%;
        visibility: hidden;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

@utility animate-typing {
    animation: typing 2s steps(20) infinite alternate, blink 0.7s infinite;
}